* {
  text-align: left;
  box-sizing: border-box;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

#home-item {
  float: left;
  padding: 15px 10px;
}

#logout-item {
  padding: 15px 10px;
}

ul.topnav li a {
  display: inline-block;
  color: #DFA400;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

ul.topnav li a.logOut-button {
  background-color: #FF914D;
  color: white;
  cursor: pointer;
}

ul.topnav li.logOut {
  float: right;
}

@media screen and (max-width: 600px) {

  ul.topnav li.logOut,
  ul.topnav li {
    float: none;
  }
}

.img-fluid {
  width: 55px;
  height: auto;
}

.logo {
  float: left;
  padding: 0%;
}

div .footer {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

div .footer p {
  color: #DFA400;
  text-align: center;
}